.container{
    background-color: rgb(13, 44, 57);
    padding: 2rem;
}
.title{
    width: 50vw;
    text-align: center;
    font-size: 4.5rem;
    border: 3px double white;
    padding: 3rem;
    color: white;
    margin: 0 auto;
}
.subtitle{
    width: 50vw;
    text-align: center;
    font-size: 1.4rem;
    color: white;
    margin: 0 auto;
}
.image{
    background-image: url("image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 0.4rem;
}
.info{
    width: 50%;
    padding: 0.4rem;
    margin: 0.2rem;
    text-align: center;
    color: white;
    border: 1px solid white;
    backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.345);;
}
.main{
    font-size: 2.5rem;
    font-weight: bold;;
}